/* 头部 */
.blank {
  background-color: rgba(0, 0, 0, .8);
  height: 360px;
  width: 100%;
  text-align: center;
  padding-top: 150px;
  box-sizing: border-box;
  color: #fff;
}


.head-r-1 {
  border-color: #d3d3d3;
}

.blank h2 {
  font-size: 34px;
  font-weight: normal;
}

.blank p {
  font-size: 12px;
  margin: 19px 0 16px 0;
}

.blank span {
  font-size: 16px;
}

.head-z .active::after {
  background-color: #fff;
  margin: 0 auto;
  margin-top: -3px;
}

/* 主体 */
.box {
  height: 420px;
}

.main {
  margin-top: 45px;
  /* display: block; */
}

.main dt {
  margin-bottom: 20px;
}

.main a {
  font-size: 16px;
  color: #000;
  font-weight: bolder;
}

.active {
  position: relative;
}

.box .main .active::after {
  content: "";
  width: 2em;
  height: 2px;
  background-color: #1271ef;
  position: absolute;
  top: 25px;
  left: 0;
}

.aox .main .active::after {
  content: "";
  width: 2em;
  height: 3px;
  background-color: #1271ef;
  position: absolute;
  top: 25px;
  left: 0;
}

.main span {
  font-size: 12px;
  color: #999;
}

.main dd {
  width: 360px;
  height: 360px;
  background-color: rgb(248, 248, 248);
  float: left;
  margin-right: 20px;
  padding: 13px;
  box-sizing: border-box;
  margin-bottom: 30px;
}

.main dd:nth-child(4) {
  margin-right: 0px;
}

.main dd img {
  width: 334px;
}

.main dd h3 {
  margin-top: 28px;
  font-weight: normal;
}

.main dd h3 a {
  font-size: 16px;
  color: #000;
}

.main dd p {
  margin: 10px 0 20px 0;
  line-height: 16px;
  font-size: 12px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
  overflow: hidden;
}

.main dd a {
  font-size: 12px;
  color: #1271ef;
}

.partners {
  height: 445px;
}

.partners dd {
  width: 360px;
  height: 121px;
  background-color: rgb(248, 248, 248);
  padding-top: 40px;
  margin-bottom: 20px;
  box-sizing: border-box;
}

.partners img {
  width: 131px;
  height: 40px;
  line-height: 121px;
}

.foot {
  margin-top: 45px;
}

.side {
  width: 55px;
  height: 135px;
  background-color: rgba(255, 255, 255, .5);
  font-size: 12px;
  line-height: 20px;
  position: fixed;
  right: 160px;
  top: 0px;
  display: none;
}

.side p {
  margin-bottom: 18px;
  cursor: pointer;
}