/* 公共样式 */

.bg {
  background-color: aqua;
}

/* 测试工具 */

/* body { */
/* min-width: 1200px; */
/* } */
/* 版心 */
.container {
  width: 1200px;
  margin: 0 auto;
}

/* 浮动 */

.fl {
  float: left;
}

.fr {
  float: right;
}

.clearfix::after {
  content: "";
  height: 0;
  display: block;
  clear: both;
}

.input {
  border: none;
  outline: none;
}

.button {
  border: none;
  outline: none;
}

/* 头部 */
.head {
  width: 100%;
  height: 70px;
  position: relative;
  position: absolute;
  z-index: 10;
  border-bottom: 1px solid rgb(174, 199, 236);
  box-sizing: border-box;
}

.head-l {
  margin-top: 15px;
  margin-left: 15px;
}

.head ul {
  position: absolute;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
}

.head li {
  height: 70px;
  float: left;
  font-size: 16px;
  padding-right: 40px;
  box-sizing: border-box;
  text-align: center;
  line-height: 70px;
}

.active::after {
  content: "";
  display: block;
  width: 100%;
  height: 3px;
  background-color: #fff;
  margin: 0 auto;
  margin-top: -3px;
}

.head li a {
  color: #fff;
}

.head-r {
  padding-right: 20px;
  height: 30px;
  margin-top: 20px;
}

.head-r div {
  display: inline-block;
  text-align: center;
  box-sizing: border-box;
  border-radius: 13px;
  line-height: 26px;
  color: #fff;
  font-size: 12px;
}

.head-r-1 {
  width: 60px;
  border: 2px solid #b9d1f3;
  box-sizing: border-box;
}

.head-r-2 {
  width: 80px;
  background-color: #ed510a;
}
.head-r div a{
  color: #fff;
}

/* 尾部 */
.foot {
  height: 270px;
  margin-top: 30px;
  padding-top: 30px;
}

.foot dl {
  margin-right: 80px;
}

.foot dt {
  margin-bottom: 40px;
  color: #181818;
  font-weight: bolder;
  font-size: 12px;
}

.foot dd {
  margin-bottom: 18px;

  font-size: 10px;
}

.foot dd a {
  color: #bab3c4;
}

.wm div {
  color: #181818;
  font-size: 12px;
  font-weight: bolder;
  margin-bottom: 14px;
  text-align: right;
}

.wm p {
  margin-bottom: 34px;
  text-align: right;
  color: #c0c0c0;
}

.foot-w {
  font-size: 14px;
  color: #d4d1d4;
  margin-bottom: 20px;
}

.foot-w1 {
  position: relative;
  padding-left: 45px;
  background: url(../images/bei2.png) no-repeat;
  background-position-y: 3px;
  box-sizing: border-box;
}

.foot-w1 img {
  position: absolute;
  left: 20px;
}

/* 登录模态框1 */
/* 蒙层 */
html,
body {
  width: 100%;
  height: 100%;
}

.mantle {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  display: none;
}
