/* 轮播图 */
.swiper {
  width: 100%;
  height: 680px;
  position: absolute;
}
.swiper img {
  width: 100%;
  height: 680px;
  object-fit: cover;/* 裁剪图片 */
}

/* 云服务 */
.main-top {
  height: 450px;
  margin-top: 105px;
  position: relative;
  margin-bottom: 105px;
}
.main-centre {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.main-centre p {
  text-align: center;
}
.main-centre-one {
  font-size: 38px;
  font-weight: bolder;
  margin-bottom: 15px;
  color: #181818;
}
.main-centre-two {
  font-size: 12px;
  color: #666;
  margin-bottom: 30px;
}
.main-centre a {
  color: #1271ef;
  font-size: 12px;
  margin-bottom: 35px;
}
.main-buttom {
  position: absolute;
  top: 165px;
}
.main-buttom li {
  float: left;
  width: 240px;
  height: 280px;
  margin-right: 80px;
  box-shadow: 5px 8px 20px 1px #1271ef;
}

.main-buttom li:nth-child(4) {
  margin-right: 0px;
}
.main-buttom div div {
  font-size: 20px;
  color: #181818;
  margin-bottom: 16px;
  margin-left: 22px;
}
.main-buttom div:nth-child(3) {
  color: #666;
  font-size: 12px;
  display: inline-block;
  margin-bottom: 15px;
}
.main-buttom div a {
  font-size: 12px;
  color: #1271ef;
}

/* 海量分类classify */
.classify {
  width: 100%;
  height: 560px;
  background-color: #f8f9fb;
  position: relative;
 /*  background-image: url(../images/login-register-bg.svg) ; */
}
.classify {
  padding-top: 60px;
}
.classify ul {
  width: 1200px;
  position: absolute;
  bottom: 70px;
  text-align: center;
}
.classify li {
  width: 224px;
  height: 140px;
  background-color: #fff;
  float: left;
  margin-right: 20px;
  margin-bottom: 20px;

  position: relative;
  box-shadow: 1px 5px 5px 1px #1271ef;
}
.classify ul li {
  width: 224px;
  height: 144px;
  /* line-height: 40px; */
}
.classify ul li:hover {
  background-color: #1271ef;
}
.classify li:nth-child(5n) {
  margin-right: 0px;
}
/* .classify ul div { */
/*   width: 63px; */
/*   height: 63px; */
/*   position: absolute; */
/*   left: 50%; */
/*   top: 50%; */
/*   transform: translate(-50%, -50%); */
/* } */
.classify ul img {
  margin-left: 12px;
  margin-top: 40px;
}
.classify ul p {
  margin-top: 13px;
}
.classify-buttom {
  margin-top: 500px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.classify-buttom a {
  color: #1271ef;
}

/* 汇集 Collection */
.collection {
  position: relative;
  height: 705px;
  width: 100%;
  margin-top: 105px;
}
.collection-cent {
  position: absolute;
  left: 0;
  top: 110px;
}
.collection-cent ul {
  margin-top: 60px;
  margin-left: 70px;
}

.collection-cent li {
  width: 515px;
  height: 80px;
  background-color: #fbfbfd;
  padding-left: 20px;
  box-sizing: border-box;
  margin-bottom: 10px;
  position: relative;
}
.collection-cent li :nth-child(2) {
  line-height: 50px;
  font-size: 20px;
}
.collection-cent li :nth-child(3) {
  font-size: 12px;
  line-height: 20px;
}
.collection-cent li img{
  display: inline-block;
  margin-right: 10px;
}
.collection-cent li span {
  position: absolute;
  width: 2px;
  height: 25px;
  background-color: #1271ef;
  top: 28px;
  left: 0;
}

/* 行业industry */
.industry {
  margin-bottom: 100px;
}
.industry-top {
  margin-top: 105px;
  margin-bottom: 80px;
}
.industry-top div {
  text-align: center;
}
.industry-top h3 {
  margin-bottom: 25px;
  font-size: 38px;
  font-weight: bolder;
  color: #181818;
}
.industry-top a {
  color: #1271ef;
}

.industry-buttom-in {
  background-color: #f8f9fb;
  height: 270px;
}
.industry-l {
  height: 270px;
  position: relative;
}
.industry-l img {
  float: left;
  position: absolute;
  top: -20px;
}
.industry-r {
  background-color: #f8f9fb;
}
.industry-r img {
  position: relative;
  top: -20px;
}
.industry-r div {
  width: 490px;
  height: 260px;
  padding-top: 38px;
  box-sizing: border-box;
  font-size: 14px;
  line-height: 24px;
  color: #181818;
}
.industry-r div p {
  padding-top: 20px;
  text-align: right;
  position: relative;
}
.span-1 {
  width: 13px;
  height: 4px;
  background-color: #1271ef;
  position: absolute;
  top: 50%;
  right: 85px;
  transform: translateY(10px);
}
.span-2 {
  width: 13px;
  height: 4px;
  background-color: #1271ef;
  position: absolute;
  top: 50%;
  right: 110px;
  transform: translateY(10px);
}
.span-3 {
  width: 13px;
  height: 4px;
  background-color: #1271ef;
  position: absolute;
  top: 50%;
  right: 95px;
  transform: translateY(10px);
}
.industry-buttom {
  height: 40px;
  position: absolute;
  bottom: -100px;
  width: 1200px;
}
.industry-buttom img {
  width: 105px;
  height: 40px;
}
.industry-buttom img:nth-child(1) {
  bottom: -100px;
  left: 0px;
}
.industry-buttom img:nth-child(2) {
  bottom: -100px;
  left: 165px;
}
.industry-buttom img:nth-child(3) {
  bottom: -100px;
  left: 315px;
}
.industry-buttom img:nth-child(4) {
  bottom: -100px;
  left: 475px;
}
.industry-buttom img:nth-child(5) {
  bottom: -100px;
  left: 635px;
}
.industry-buttom img:nth-child(6) {
  bottom: -100px;
  left: 785px;
}
.industry-buttom img:nth-child(7) {
  bottom: -100px;
  left: 920px;
}
.industry-buttom img:nth-child(8) {
  bottom: -100px;
  left: 1095px;
}
/* .industry-buttom img:nth-child(9) { */
/*   bottom:-100px; */
/*   right: 0; */
/* } */

/* 轮播图2 */
.mySwiper {
  width: 100%;
  height: 270px;
}
/* .swiper1 img { */
/*   width: 100%; */
/*   height: 680px; */
/* } */

/* 数据安全serve */
.serve {
  height: 330px;
  margin-top: 155px;
}
.serve div {
  text-align: center;
}
.serve div h3 {
  font-size: 38px;
  font-weight: bolder;
  color: #181818;
}
.serve div p {
  font-size: 12px;
  color: #666;
  margin-top: 15px;
  margin-bottom: 28px;
}
.serve div a {
  font-size: 12px;
  color: #1271ef;
}
.serve ul {
  margin-top: 40px;
  margin-bottom: 85px;
}
.serve li {
  float: left;
  width: 130px;
  height: 90px;
  text-align: center;
  margin-left: 55px;
  line-height: 90px;
}
.serve li span {
  /* margin-top: 50px; */
  text-align: center;
}
.serve-buttom {
  width: 100%;
  height: 242px;
  background-image: url(../images/login-register-bg.svg);
  background-color: #1271ef;
  margin-top: 58px;
}
.serve-buttom div h3 {
  font-size: 38px;
  color: #fff;
  text-align: center;
  padding-top: 70px;
  padding-bottom: 25px;
  box-sizing: border-box;
}

.serve-buttom div a {
  font-size: 12px;
  color: #fff;
  display: block;
  text-align: center;
  width: 130px;
  height: 42px;
  border: 1px solid #fff;
  line-height: 42px;
  margin: 0 auto;
}


/* 返回顶部 */
.totop {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  position: fixed;
  right: 60px;
  bottom: 10px;
  background: url(../images/returntopicon.jpg);
  background-position-x: -268px;
  background-position-y: -57px;
  display: none;
}
