/* 头部 */
.head-r-1 {
  border-color: #d3d3d3;
}

/* 插件 */
/* 插件 */
#mydiv canvas {
  background-color: rgba(0, 0, 0, 0.7);
  height: 419px;
  width: 100%;

}

.theme {
  background-color: #f8f9fb;
}

/* 简介 */
.brief {
  height: 290px;
  position: absolute;
  margin-top: -145px;
  left: 50%;
  transform: translateX(-50%);
}

.brief-l {
  width: 600px;
  height: 290px;
  padding-top: 50px;
  padding-left: 50px;
  padding-right: 50px;
  box-sizing: border-box;
  background-color: #fff;
}

.brief>img {
  width: 600px;
  height: 290px;
}

.brief-l h3 {
  font-size: 24px;
  font-weight: normal;
  color: #181818;
  margin: 23px 0 20px 0;
}

.brief-l p {
  font-size: 12px;
  color: #000;
  line-height: 24px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
}

.text {
  padding-top: 150px;
  box-sizing: border-box;
}

.text img {
  margin-top: 50px;
}

.text p {
  margin: 30px 0;
  font-size: 15px;
  line-height: 24px;
  color: #181818;
}

.text span {
  display: block;
  text-align: right;
  font-size: 15px;
  color: #666666;
}

.text .active::after {
  width: 14px;
  height: 4px;
  background-color: #1271ef;
  display: block;
  content: "";
  margin-right: 115px;
  margin-top: -10px;
}

/* 收益 */
.income h3 {
  font-size: 24px;
  font-weight: normal;
  color: #181818;
  margin: 48px 0 30px 0;
}

/*  */
.income p {
  font-size: 15px;
  color: #000;
  line-height: 22px;
}

/* 图片 */
.picture {
  margin-top: 60px;
  /* margin-bottom: 55px; */
}

.picture img {
  width: 1200px;
  padding-bottom: 55px;
  box-sizing: border-box;
}